{% extends 'base.html' %}

{% block sidebar %}
    {% include 'include_files/_sidebar.html' %}
{% endblock %}

{% block content %}
        {% for post in posts %}
            <div class="card mt-3">
                <div class="card-header">
                    {{ post.title }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post.content }}</p>
                    <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more...</a>
                </div>
                <div class="card-footer">
                    {{ post.created_at|date:'Y-m-d' }}
                    <p>
                        категория: {{ post.category }}
                    </p>
                </div>
            </div>
        {% endfor %}
{% endblock %}
